<!-- JS -->
<script src="/js/jquery-2.1.4.min.js"></script>

<script src="/js/mfn.menu.js"></script>
<script src="/js/jquery.plugins.js"></script>
<script src="/js/jquery.jplayer.min.js"></script>
<script src="/js/animations.js"></script>
<script src="/js/translate3d.js"></script>
<script src="/js/scripts.js"></script>

<script src="/js/email.js"></script>

<script src="/plugins/rs-plugin-5.3.1/js/jquery.themepunch.tools.min.js"></script>
<script src="/plugins/rs-plugin-5.3.1/js/jquery.themepunch.revolution.min.js"></script>

<script src="/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.video.min.js"></script>
<script src="/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.parallax.min.js"></script>

<script>
    var revapi1, tpj = jQuery;
    tpj(document).ready(function () {
        if (tpj("#rev_slider_1_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_1_1");
        } else {
            revapi1 = tpj("#rev_slider_1_1").show().revolution({
                sliderType: "standard",
                sliderLayout: "auto",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    onHoverStop: "off",
                },
                visibilityLevels: [1240, 1024, 778, 480],
                gridwidth: 1240,
                gridheight: 600,
                lazyType: "none",
                shadow: 0,
                spinner: "spinner2",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                autoHeight: "off",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    });
</script>