<div class="section mcb-section equal-height-wrap" style="padding-top:0px; padding-bottom:80px">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding: 0px 4% 0px 0px; height: 657px;">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column">
                </div>
                <div class="column mcb-column one column_divider">
                    <hr class="no_line" style="margin:0 auto 70px">
                </div>
                <div class="column mcb-column one column_column">
                    <div class="column_attr clearfix align_right">
                        <h2 style="margin-left: 5%">{{ include.title }}</h2>
                    </div>
                </div>
                <div class="column mcb-column two-fifth column_button">
                    <a class="button button_right button_size_2 button_js kill_the_icon" href="portfolio/{{ include.url }}" style="background-color: #99C24D">
                        <span class="button_icon"><i class="icon-right-open-mini"></i></span><span class="button_label">Bekijk meer</span>
                    </a>
                </div>
                <div class="column mcb-column three-fifth column_column">
                    <div class="column_attr clearfix align_right" style="padding:8px 0 0">
                        <h5>{{ include.subtitle }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap mcb-wrap one-second valign-middle clearfix" style="height: 657px;">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_image">
                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                        <div class="image_wrapper">
                            <img class="scale-with-grid" src="/images/tuin_baarn.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>