---
layout: default
permalink: portfolio
title: Portfolio
---

<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">

                <div class="section mcb-section equal-height-wrap" style="padding-top:120px; padding-bottom:80px">
                    <div class="section_wrapper mcb-section-inner">

                        <div class="wrap mcb-wrap one valign-middle clearfix"
                             style="padding: 0px 0px 0px 4%; height: 521px;">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider">
                                    <hr class="no_line" style="margin:0 auto 70px">
                                </div>
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h2 style="margin-right: 5%">Portfolio</h2>
                                        <p>
                                            Hieronder een greep uit de succesvol afgeronde projecten van Van de Brug Hoveniers.
                                        </p>
                                        <p>Ook zo'n mooie tuin? Neem vrijblijvend contact met ons op!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include portfolio_project.html title="Baarn" subtitle="Aanleg van een tuin in Baarn"
                url="tuin-voorbeeld" %}

                {% include portfolio_project.html title="Hilversum" subtitle="Aanleg van een tuin in Hilversum"
                url="tuin-voorbeeld" %}

            </div>
        </div>
    </div>
</div>