---
layout: default
permalink: portfolio
title: Portfolio
---

<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">

                <div id="Subheader" style="padding:160px 0">
                    <div class="container">
                        <div class="column one">
                            <h2 class="title">Portfolio</h2>
                        </div>
                    </div>
                </div>

                {% include portfolio_project.html title="Baarn" subtitle="Aanleg van een tuin in Baarn" url="tuin-voorbeeld" %}
                {% include portfolio_project.html title="Hilversum" subtitle="Aanleg van een tuin in Hilversum" url="tuin-voorbeeld" %}

            </div>
        </div>
    </div>
</div>