<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}

<body class="color-custom style-default button-flat layout-full-width no-content-padding no-shadows header-classic minimalist-header-no sticky-header sticky-tb-color ab-hide
subheader-both-left menu-link-color menuo-no-borders menuo-right footer-copy-center mobile-tb-center mobile-side-slide mobile-mini-mr-ll tr-header tr-content be-reg-2083">
<div id="Wrapper">

    <div id="Header_wrapper">
        <header id="Header">
            <div class="header_placeholder"></div>
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            <div class="logo">
                                <a id="logo" href="/" title="Van de Brug Hoveniers home"
                                   data-height="60" data-padding="25">
                                    <img class="logo-main scale-with-grid" src="/images/van de brug hoveniers logo.png"
                                         data-height="39" alt="van de brug hoveniers logo">
                                    <img class="logo-sticky scale-with-grid"
                                         src="/images/van de brug hoveniers logo.png"
                                         data-height="39"
                                         alt="van de brug hoveniers logo">
                                    <img
                                            class="logo-mobile scale-with-grid"
                                            src="/images/van de brug hoveniers logo.png"
                                            data-height="39" alt="van de brug hoveniers logo">
                                    <img class="logo-mobile-sticky scale-with-grid"
                                         src="/images/van de brug hoveniers logo.png" data-height="39"
                                         alt="van de brug hoveniers logo"></a>
                            </div>
                            <div class="menu_wrapper">
                                {% include navigation.html %}
                                <a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    {{ content }}

    {% include footer.html %}

</div>

<!-- side menu -->
<div id="Side_slide" class="right dark" data-width="250">
    <div class="close-wrapper">
        <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
    </div>
    <div class="menu_wrapper"></div>
</div>
<div id="body_overlay"></div>

{% include js.html %}

</body>

</html>