<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="nl">
<!--<![endif]-->

{% include head.html %}

<body class="color-custom style-default button-flat layout-full-width no-content-padding no-shadows header-classic minimalist-header-no sticky-header sticky-tb-color ab-hide
subheader-both-left menu-link-color menuo-no-borders menuo-right footer-copy-center mobile-tb-center mobile-side-slide mobile-mini-mr-ll tr-header tr-content be-reg-2083">
<div id="Wrapper">

    <div id="Header_wrapper">
        <header id="Header">
            <div class="header_placeholder"></div>
            <div id="Top_bar">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix">
                            <div class="logo">
                                <a id="logo" href="/" title="Van de Brug Hoveniers home"
                                   data-height="60" data-padding="25">
                                    <img class="logo-main scale-with-grid" src="/images/van-de-brug-hoveniers-logo.png"
                                         data-height="39" alt="van de brug hoveniers logo">
                                    <img class="logo-sticky scale-with-grid"
                                         src="/images/van-de-brug-hoveniers-logo.png"
                                         data-height="39"
                                         alt="van de brug hoveniers logo">
                                    <img
                                            class="logo-mobile scale-with-grid"
                                            src="/images/van-de-brug-hoveniers-logo.png"
                                            data-height="39" alt="van de brug hoveniers logo">
                                    <img class="logo-mobile-sticky scale-with-grid"
                                         src="/images/van-de-brug-hoveniers-logo.png" data-height="39"
                                         alt="van de brug hoveniers logo"></a>
                            </div>
                            <div class="menu_wrapper">
                                {% include navigation.html %}
                                <a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>


    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section equal-height-wrap" style="padding-bottom:80px">
                        <div class="section_wrapper mcb-section-inner">
                            <h2>{{ page.title }}</h2>
                            <h5>{{ page.subtitle }}</h5>
                            <ul class="portfolio_grid">

                                {% if page.img1 %}
                                <li>
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="{{ page.img1 }}" rel="prettyphoto">
                                                <img width="576" height="450" src="{{ page.img1 }}" style="margin: 8px 4px;"
                                                     class="scale-with-grid wp-post-image" itemprop="image">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% if page.img2 %}
                                <li>
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="{{ page.img2 }}" class="zoom" rel="prettyphoto">
                                                <img width="576" height="450" src="{{ page.img2 }}" style="margin: 8px 4px;"
                                                     class="scale-with-grid wp-post-image" itemprop="image">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% if page.img3 %}
                                <li>
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="{{ page.img3 }}" class="zoom" rel="prettyphoto">
                                                <img width="576" height="450" src="{{ page.img3 }}" style="margin: 8px 4px;"
                                                     class="scale-with-grid wp-post-image" itemprop="image">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% if page.img4 %}
                                <li>
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="{{ page.img4 }}" rel="prettyphoto">
                                                <img width="576" height="450" src="{{ page.img4 }}" style="margin: 8px 4px;"
                                                     class="scale-with-grid wp-post-image" itemprop="image">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% if page.img5 %}
                                <li>
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="{{ page.img5 }}" rel="prettyphoto">
                                                <img width="576" height="450" src="{{ page.img5 }}" style="margin: 8px 4px;"
                                                     class="scale-with-grid wp-post-image" itemprop="image">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% if page.img6 %}
                                <li>
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="{{ page.img6 }}" rel="prettyphoto">
                                                <img width="576" height="450" src="{{ page.img6 }}" style="margin: 8px 4px;"
                                                     class="scale-with-grid wp-post-image" itemprop="image">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% if page.img7 %}
                                <li>
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="{{ page.img7 }}" rel="prettyphoto">
                                                <img width="576" height="450" src="{{ page.img7 }}" style="margin: 8px 4px;"
                                                     class="scale-with-grid wp-post-image" itemprop="image">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% if page.img8 %}
                                <li>
                                    <div class="image_frame scale-with-grid">
                                        <div class="image_wrapper">
                                            <a href="{{ page.img8 }}" rel="prettyphoto">
                                                <img width="576" height="450" src="{{ page.img8 }}" style="margin: 8px 4px;"
                                                     class="scale-with-grid wp-post-image" itemprop="image">
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include footer.html %}

</div>

<!-- side menu -->
<div id="Side_slide" class="right dark" data-width="250">
    <div class="close-wrapper">
        <a href="#" class="close"><i class="icon-cancel-fine"></i></a>
    </div>
    <div class="menu_wrapper"></div>
</div>
<div id="body_overlay"></div>

{% include js.html %}

</body>

</html>
